<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
    <script
			  src="https://code.jquery.com/jquery-3.6.1.min.js"
			  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" 
        integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="stylesheets/styles.css" rel="stylesheet">
  <script src="/javascript/script.js" async></script>
    <title>Shopify Uploader</title>
  </head>

  <body class="flex-column min-100-vh">
    <header class="hero">
      <a href="/" class="">Shopify Uploader</a>
      <nav>
        {{#if loggedIn}}
        <a class="app-title" style="float: right;margin-right:15px;" href="/dashboard">Dashboard</a>
        <a id="logout" style="float:right;margin-right:15px;" href="/" class="app-title">Logout</a>
        {{else}}
        <a class="app-title" style="float: right;margin-right:15px;" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

    <main class="flex-row justify-space-between">
        {{{body}}}
    </main>
    <footer>

    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>