<div class="container">
    <div class="col-4 card">
        <h1 class="card-header">Template Name</h1>
        <div class="card-body">
            <input type="text" id="template-name"/>
        </div>
    </div>

    <div class="col-6 card">
        <h1 class="card-header">Description</h1>
        <div class="card-body">
            <textarea>Drop Description Here</textarea>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Weight (grams)</h1>
        <div class="card-body">
        <input type="text" id="weight" placeholder="0g"/>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Cost Per Item</h1>
        <div class="card-body">
        <input type="text" id="cost"/>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Status</h1>
        <div class="card-body">
        <input type="radio" id="active" name="status" value="active"/>
        <label for="active">Active</label>
        <input type="radio" id="draft" name="status" value="draft"/>
        <label for="draft">Draft</label>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Style</h1>
        <div class="card-body">
            <select name="style" id="style">
                <option value="beanie">Beanie</option>
                <option value="crewneck">Crewneck</option>
                <option value="fitted-tee">Fitted Tee</option>
                <option value="hoodie">Hoodie</option>
                <option value="long-sleeve">Long Sleeve</option>
                <option value="polo">Polo</option>
                <option value="raglan">Raglan</option>
                <option value="regular-trucker">Regular Trucker</option>
                <option value="tank-top">Tank Top</option>
                <option value="tee">Tee</option>
            </select>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Publish</h1>
        <div class="card-body">
            <input type="radio" id="yes" name="publish" value="yes"/>
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="publish" value="no"/>
            <label for="no">No</label>
        </div>
    </div>

<button type="submit">Submit</button>
</div>