<div class="template-input row container">
    <div class="col-4 card">
        <h1 class="card-header">Template Name</h1>
        <div class="card-body">
            <input type="text" id="template-name"/>
        </div>
    </div>

    <div class="col-8 card">
        <h1 class="card-header">Description</h1>
        <div class="card-body">
            <textarea id="template-description">Drop Description Here</textarea>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Weight (grams)</h1>
        <div class="card-body">
        <input type="text" id="weight" placeholder="0g"/>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Cost Per Item</h1>
        <div class="card-body">
        <input type="text" id="cost"/>
        </div>
    </div>


    <div class="col-3 card">
        <h1 class="card-header">Tags</h1>
        <div class="card-body">
            <div id="tagList" class="tagDropdown" tabindex="100">
                <span class="anchor">Select Tags</span>
                <ul class="items">
                    <li><input value="BFCM" class="tags" type="checkbox"/>BFCM</li>
                    <li><input value="Christmas" class="tags" type="checkbox"/>Christmas</li>
                    <li><input value="Men's" class="tags" type="checkbox"/>Men's</li>
                    <li><input value="Women's" class="tags" type="checkbox"/>Women's</li>
                    <li><input value="$20 Special" class="tags" type="checkbox"/>$20 Special</li>
                    <li><input value="Hat" class="tags" type="checkbox"/>Hat</li>
                    <li><input value="Polo" class="tags" type="checkbox"/>Polo</li>
                    <li><input value="Save America" class="tags" type="checkbox"/>Save America</li>
                    <li><input value="THURSDAY" class="tags" type="checkbox"/>THURSDAY</li>
                    <li><input value="United We Stand Special" class="tags" type="checkbox"/>United We Stand Special</li>
                    <li><input value="WEDNESDAY" class="tags" type="checkbox"/>WEDNESDAY</li>
                    <li><input value="H&F" class="tags" type="checkbox"/>H&F</li>
                    <li><input value="Hunting & Fishing" class="tags" type="checkbox"/>Hunting & Fishing</li>
                    <li><input value="Proud" class="tags" type="checkbox"/>Proud</li>
                    <li><input value="LGBTQ" class="tags" type="checkbox"/>LGBTQ</li>
                    <li><input value="USA Tee" class="tags" type="checkbox"/>USA Tee</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-3 card">
        <h1 class="card-header">Style</h1>
        <div class="card-body">
            <select name="style" id="style">
                <option value="beanie">Beanie</option>
                <option value="crewneck">Crewneck</option>
                <option value="fitted-tee">Fitted Tee</option>
                <option value="hoodie">Hoodie</option>
                <option value="long-sleeve">Long Sleeve</option>
                <option value="polo">Polo</option>
                <option value="raglan">Raglan</option>
                <option value="regular-trucker">Regular Trucker</option>
                <option value="tank-top">Tank Top</option>
                <option value="tee">Tee</option>
            </select>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Status</h1>
        <div class="card-body">
        <input type="radio" id="active" name="status" value="active"/>
        <label for="active">Active</label>
        <input type="radio" id="draft" name="status" value="draft"/>
        <label for="draft">Draft</label>
        </div>
    </div>

    <div class="col-3 card">
        <h1 class="card-header">Publish</h1>
        <div class="card-body">
            <input type="radio" id="yes" name="publish" value="yes"/>
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="publish" value="no"/>
            <label for="no">No</label>
        </div>
    </div>

<button class="col-3" id="submit-btn" type="submit">Submit</button>
</div>
<script src="javascript/script.js"></script>